---
import { Image } from 'astro:assets'

import facebook from '../assets/shared/desktop/icon-facebook.svg'
import instagram from '../assets/shared/desktop/icon-instagram.svg'
import pinterest from '../assets/shared/desktop/icon-pinterest.svg'
import twitter from '../assets/shared/desktop/icon-twitter.svg'
import youtube from '../assets/shared/desktop/icon-youtube.svg'
import logo from '../assets/shared/desktop/logo-light.png'
---

<footer class="bg-black pt-[253px] pb-16 px-6 relative mt-[309px]">
  <div class="bg-peach px-6 py-16 rounded-[15px] absolute top-[-189.5px] inset-x-0 mx-6">
    <p class="font-medium text-[32px] leading-[36px] text-white text-center max-w-[279px]">
      Let's talk about your project
    </p>
    <p class="text-center text-[15px] leading-[25px] text-white mt-1.5">
      Ready to take it to the next level? Contact us today and find out how our expertise can help
      your business grow.
    </p>
    <div class="text-center">
      <button
        class="h-14 bg-white inline-flex justify-center items-center text-black rounded-lg uppercase px-[18px] mt-8"
        >Get in touch</button
      >
    </div>
  </div>
  <div class="flex justify-center">
    <Image src={logo} alt="" width="202" />
  </div>
  <div class="w-full h-px bg-[#979797]/10 my-8"></div>
  <nav>
    <ul class="flex flex-col items-center text-white gap-8">
      <li>
        <a class="text-sm uppercase tracking-[2px] leading-[14px]">Our company</a>
      </li>
      <li>
        <a class="text-sm uppercase tracking-[2px] leading-[14px]">Locations</a>
      </li>
      <li>
        <a class="text-sm uppercase tracking-[2px] leading-[14px]">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="mt-10 flex flex-col justify-center items-center text-white/50 leading-[26px]">
    <p class="font-bold">Designo Central Office</p>
    <p>3886 Wellington Street</p>
    <p>Toronto, Ontario M9C 3J5</p>
  </div>
  <div class="mt-10 flex flex-col justify-center items-center text-white/50 leading-[26px]">
    <p class="font-bold">Contact Us (Central Office)</p>
    <p>P : +1 253-863-8967</p>
    <p>M : contact@designo.co</p>
  </div>
  <div class="flex gap-4 justify-center mt-10">
    <Image src={facebook} alt="Facebook" />
    <Image src={youtube} alt="Youtube" />
    <Image src={twitter} alt="Twitter" />
    <Image src={pinterest} alt="Pinterest" />
    <Image src={instagram} alt="Instagram" />
  </div>
</footer>
