---
import { getImage } from 'astro:assets'

import graphicDesignDesktop from '../../assets/home/desktop/image-graphic-design.jpg'
import webDesignDesktop from '../../assets/home/desktop/image-web-design-small.jpg'
import graphicDesignMobile from '../../assets/home/mobile/image-graphic-design.jpg'
// Desktop
import webDesignMobile from '../../assets/home/mobile/image-web-design.jpg'
import graphicDesignTablet from '../../assets/home/tablet/image-graphic-design.jpg'
// Mobile
import webDesignTablet from '../../assets/home/tablet/image-web-design.jpg'

// Table

// Mobile
const webDesignMobileOpt = await getImage({ src: webDesignMobile, format: 'avif', quality: 'low' })
const graphicDesignMobileOpt = await getImage({
  src: graphicDesignMobile,
  format: 'avif',
  quality: 'low',
})

// Tablet
const webDesignTabletOpt = await getImage({ src: webDesignTablet, format: 'avif', quality: 'low' })
const graphicDesignTabletOpt = await getImage({
  src: graphicDesignTablet,
  format: 'avif',
  quality: 'low',
})

// Desktop
const webDesignDesktopOpt = await getImage({
  src: webDesignDesktop,
  format: 'avif',
  quality: 'low',
})
const graphicDesignDesktopOpt = await getImage({
  src: graphicDesignDesktop,
  format: 'avif',
  quality: 'low',
})
---

<section class="pt-[120px]">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-x-[30px]">
    <a href="/web-design" class="grid-stack rounded-[15px] overflow-hidden">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset={webDesignMobileOpt.src}
          width={webDesignMobileOpt.attributes.width}
          height={webDesignMobileOpt.attributes.height}
        />
        <source
          media="(min-width: 1100px)"
          srcset={webDesignDesktopOpt.src}
          width={webDesignDesktopOpt.attributes.width}
          height={webDesignDesktopOpt.attributes.height}
        />
        <source
          media="(min-width: 768px)"
          srcset={webDesignTabletOpt.src}
          width={webDesignTabletOpt.attributes.width}
          height={webDesignTabletOpt.attributes.height}
        />
        <img
          src={webDesignDesktopOpt.src}
          alt=""
          width={webDesignDesktopOpt.attributes.width}
          height={webDesignDesktopOpt.attributes.height}
          class="w-full"
        />
      </picture>
      <div
        class="bg-black/80 hover:bg-[#E7816B]/80 transition-colors duration-300 text-white flex justify-center items-center flex-col gap-3"
      >
        <p
          class="text-[28px] leading-[36px] md:text-[40px] md:leading-[48px] md:tracking-[2px] tracking-[1.4px] font-medium uppercase"
        >
          Web design
        </p>
        <p class="text-[15px] tracking-[5px] font-medium uppercase">View projects</p>
      </div>
    </a>
    <a href="/graphic-design" class="grid-stack rounded-[15px] overflow-hidden">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset={graphicDesignMobileOpt.src}
          width={graphicDesignMobileOpt.attributes.width}
          height={graphicDesignMobileOpt.attributes.height}
        />
        <source
          media="(min-width: 1100px)"
          srcset={graphicDesignDesktopOpt.src}
          width={graphicDesignDesktopOpt.attributes.width}
          height={graphicDesignDesktopOpt.attributes.height}
        />
        <source
          media="(min-width: 768px)"
          srcset={graphicDesignTabletOpt.src}
          width={graphicDesignTabletOpt.attributes.width}
          height={graphicDesignTabletOpt.attributes.height}
        />
        <img
          src={graphicDesignDesktopOpt.src}
          alt=""
          width={graphicDesignDesktopOpt.attributes.width}
          height={graphicDesignDesktopOpt.attributes.height}
          class="w-full"
        />
      </picture>
      <div
        class="bg-black/80 hover:bg-[#E7816B]/80 transition-colors duration-300 text-white flex justify-center items-center flex-col gap-3"
      >
        <p
          class="text-[28px] leading-[36px] md:text-[40px] md:leading-[48px] md:tracking-[2px] tracking-[1.4px] font-medium uppercase"
        >
          Graphic design
        </p>
        <p class="text-[15px] tracking-[5px] font-medium uppercase">View projects</p>
      </div>
    </a>
  </div>
</section>
